.header {
    padding: 0.3em 0.3em;
    box-shadow: var(--box-shadow);
}

.header_title {
    font-family: var(--title-font);
    font-size: 3vw;
    color: var(--text-color);
    margin: 0;
}

@media screen and (min-width: 1280px) {
    .header_title {
        font-size: 38.4px;
    }
}
@media screen and (max-width: 900px) {
    .header_title {
        font-size: 27px;
    }
}