.main_not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found_text {
    font: var(--title-font);
    color: var(--primary-color-white);
    margin: 10px;
    font-size: 3vw;
}

.not-found_back {
    background: none;
    box-shadow: var(--box-shadow);
    transition: 0.25s;
    cursor: pointer;
    font-family: var(--title-font);
    font-size: 1.5vw;
    color: var(--text-color);
    margin: 5px;
    border-color: transparent;
    border-radius: var(--border-radius-btn);
    transition: all 0.25s ease-in;
}

.not-found_back:hover {
    box-shadow: var(--box-shadow-white);
}

@media screen and (min-width: 1280px) {
    .not-found_text {
        font-size: 38.4px;
    }

    .not-found_back {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 900px) {
    .not-found_text {
        font-size: 27px;
    }

    .not-found_back {
        font-size: 13.5px;
    }
}