.dialog_text {
    box-sizing: border-box;
    text-align: center;
    padding: 6vh 0;
    height: 50%;
    width: calc(100% - 1.5em);
    font: var(--title-font);
    font-size: 1.5vw;
    color: var(--primary-color-white);
    background-color: var(--primary-color-more-dark);
}

.dialog_close {
    background-color: var(--primary-color);
    padding: 0.5em 0.5em;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-family: var(--title-font);
    font-size: 1.5vw;
    color: var(--text-color);
    margin: 5px;
    width: 100%;
    border-color: transparent;
    border-radius: var(--border-radius-btn);
    transition: all 0.25s ease-in;
}

.main_dialog::backdrop {
    position: fixed;
    top: 0;
    left: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 28, 41, 0.8);
}

.main_dialog {
    width: 70%;
    height: 30%;
    background: rgba(166, 94, 218, 0.8);
    border-color: transparent;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-btn);
    cursor: default;
}

@media screen and (min-width: 1280px) {
    .dialog_text {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 900px) {
    .dialog_text {
        font-size: 13.5px;
    }
}